<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class='about content'>
                <h2>ABOUT US</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vero id sit! Autem, quasi! Veniam
                    consequatur
                    accusantium tempora unde rem eum, laboriosam aliquam harum, ut, nemo ratione officia! Debitis ipsam
                    quae
                    distinctio itaque sapiente, obcaecati delectus, quia exercitationem veritatis modi iste amet harum
                    quo
                    dolor
                    est reprehenderit, veniam tempora accusantium.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vero id sit! Autem, quasi! Veniam
                    consequatur
                    accusantium tempora unde rem eum, laboriosam aliquam harum, ut, nemo ratione officia! Debitis ipsam
                    quae
                    distinctio itaque sapiente, obcaecati delectus, quia exercitationem veritatis modi iste amet harum
                    quo
                    dolor
                    est reprehenderit, veniam tempora accusantium.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vero id sit! Autem, quasi! Veniam
                    consequatur
                    accusantium tempora unde rem eum, laboriosam aliquam harum, ut, nemo ratione officia! Debitis ipsam
                    quae
                    distinctio itaque sapiente, obcaecati delectus, quia exercitationem veritatis modi iste amet harum
                    quo
                    dolor
                    est reprehenderit, veniam tempora accusantium.</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>